.loader
  svg(viewbox="-10 0 170 170" width="170" height="170")
    circle#Spinner.r(cx="95" cy="75" r="14" fill="none")
    circle#Spinner.g(cx="80" cy="90" r="14" fill="none")
    circle#Spinner.b(cx="65" cy="75" r="14" fill="none")
    circle#Spinner.y(cx="50" cy="90" r="14" fill="none")
    circle#Spinner.blue(cx="35" cy="75" r="14" fill="none")
    circle#Spinner.chrome(cx="65" cy="135" r="14" fill="none")
